* {
  margin: 0;
  padding: 0;
  transition: all 0.5 ease;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 100%);
}
body {
  background: hsl(219, 32%, 10%);
  color: hsl(0, 0%, 88%);
  -webkit-font-smoothing: antialiased;
}
:focus-visible {
  outline-color: hsla(349, 69%, 51%, 1);
}
iframe,
span {
  display: block;
}
img {
  display: block;
  height: auto;
}
input,
select,
button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
input {
  width: 100%;
}
button {
  display: block;
  text-align: left;
  color: hsl(0, 0%, 88%);
  cursor: pointer;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 88%);
}
::webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-left: 1px solid hsla(218, 39%, 14%, 0.8);
}
::-webkit-scrollbar-thumb {
  background: hsl(214, 84%, 56%);
  border-radius: 5em;
  border: 3px solid hsl(222, 25%, 10%);
}
.movies,
.popular {
  padding: 0px 20px;
}

.search-box {
  display: none;
}
header {
  background: black;
  position: relative;
  padding: 4px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.header .logo {
  margin-inline-end: auto;
}
.search-btn,
.menu-btn {
  padding: 12px;
}
.search-btn {
  background: hsla(218, 39%, 14%, 0.8);
  border-radius: 8px;
}
.search-btn img {
  opacity: 0.5;
  transition: 250ms ease;
}
.search-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}
.menu-btn.active .menu,
.menu-btn .close {
  display: none;
}
.menu-btn .menu,
.menu-btn.active .close {
  display: block;
}
.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(218, 39%, 14%, 0.8);
  padding: 24px 16px;
  display: none;
  align-items: center;
  gap: 8px;
  z-index: 1;
}
.search-box.active {
  display: flex;
}
.search-wrapper {
  position: relative;
  flex-grow: 1;
}
.search-field {
  background-color: hsla(250, 6%, 20%, 1);
  height: 48px;
  color: white;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: 8px;
  transition: 250ms ease;
}
.search-field::placeholder {
  color: hsla(250, 1%, 44%, 1);
}
.search-field:hover {
  box-shadow: 0 0 0 2px hsla(218, 39%, 14%, 0.8);
}
.search-field:focus {
  box-shadow: 0 0 0 2px hsla(250, 100%, 95%, 1);
  padding-inline-start: 16px;
}
.search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  opacity: 0.5;
  transition: 250ms ease;
}
.search-wrapper:focus-within .leading-icon {
  opacity: 0;
}
.search-wrapper::before,
.load-more::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid hsla(0, 0%, 100%, 1);
  border-radius: 24px;
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}
.search-wrapper::before {
  position: absolute;
  top: 14px;
  right: 12px;
}
.search-wrapper.searching::before {
  display: block;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
/**sidebar*/
.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 20px;
}
.sidebar {
  position: absolute;
  background-color: hsl(218, 39%, 14%);
  top: 96px;
  bottom: 0;
  left: -435px;
  max-width: 340px;
  width: 100%;
  border-block-start: 1px soild hsl(219, 32%, 10%);
  overflow-y: overlay;
  z-index: 4;
  visibility: hidden;
  transition: 500ms ease;
}
.signup {
  background: #07f8ec;
  margin:10px;
  color: rgb(8, 8, 8);
  padding: 10px;
  border: 2px solid rgb(36, 146, 236);
  border-radius: 4px;
  margin-top: 7px;
}
.watchsign {
  display:flex;
  color: black;
}
.watchlist-icon {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.welcome {margin: 0 auto;
  text-align: center;
}
.text {
  color: rgb(248, 245, 73);
  font-size: 1.8em;
  letter-spacing: 5px;
  border-right: 5px solid;
  width: fit-content;
  margin: 0 auto;
  animation: cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.sidebar.active {
  transform: translateX(340px);
  visibility: visible;
}
.sidebar-inner {
  display: grid;
  gap: 20px;
  padding-block: 36px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsla(218, 39%, 14%, 0.8);
}
.sidebr::-webkit-scrollbar-button {
  height: 16px;
}
.sidebar-list,
.sidebar-footer {
  padding-inline: 36%;
}
.sidebar-link {
  color: hsla(250, 1%, 44%, 1);
  transition: 250ms ease;
}
.sidebar-link:is(:hover, :focus-visible) {
  color: hsla(250, 100%, 95%, 1);
}
.sidebar-list {
  display: grid;
  gap: 8px;
}
.sidebar-list .title {
  margin-block-end: 8px;
}
.sidebar-footer {
  border-block-start: 1px solid hsla(218, 39%, 14%, 0.8);
  padding-block-start: 28px;
  margin-block-start: 16px;
}
.copyright {
  color: hsla(250, 1%, 44%, 1);
  margin-block-end: 20px;
}
.overlay {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: hsl(218, 39%, 14%);
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease;
  z-index: 3;
}
.overlay.active {
  opacity: 0.5em;
  pointer-events: all;
}

/** banner*/
.img-cover {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meta-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 4px;
}
.btn {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.5rem;
  font-weight: 700;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: 8px;
  transition: 250ms ease;
}
.container1 {
  position: relative;
  background-color: hsl(219, 32%, 10%);
  color: white;
  padding: 24px 2% 48px;
  height: calc(100vh-96px);
  overflow-y: overlay;
  z-index: 1;
}
.container1::after .search-modal::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(
    180deg,
    hsla(250, 13%, 11%, 0),
    hsla(250, 13%, 11%, 1)
  );
  z-index: 1;
  pointer-events: none;
}
.banner {
  position: relative;
  padding: 10px 5%;
  margin-bottom: 15px;
  height: 700px;
  border-radius: 24px;
  overflow: hidden;
}
.banner-slider .slider-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 120%;
  background-color: hsl(218, 39%, 10%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease;
}
.banner-slider .slider-item::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    90deg,
    hsl(220, 17%, 7%),
    hsl(220, 17%, 7%)
  );
}
.banner-slider .active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.banner-content {
  position: absolute;
  left: 9%;
  right: 9%;
  bottom: 35%;
  z-index: 1;
  color: hsl(0, 0%, 88%);
}
.banner :is(.heading, .banner-text) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.banner.heading {
  -webkit-line-clamp: 3;
  margin-block-end: 16px;
}
.meta-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
}
.banner .genre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 12px;
}
.banner-text {
  -webkit-line-clamp: 2;
  margin-inline-end: 24px;
}
.banner .btn {
  background: linear-gradient(90deg, #00bdff, #0079ff);
  color: white;
  font-weight: 600;
  animation: btnanime 1s linear infinite;
}
@keyframes btnanime {
  0% {
    background: linear-gradient(0deg, #00bdff, #0079ff);
  }
  12% {
    background: linear-gradient(45deg, #00bdff, #0079ff);
  }
  24% {
    background: linear-gradient(95deg, #00bdff, #0079ff);
  }
  36% {
    background: linear-gradient(145deg, #00bdff, #0079ff);
  }
  48% {
    background: linear-gradient(195deg, #00bdff, #0079ff);
  }
  60% {
    background: linear-gradient(245deg, #00bdff, #0079ff);
  }
  72% {
    background: linear-gradient(295deg, #00bdff, #0079ff);
  }
  100% {
    background: linear-gradient(360deg, #00bdff, #0079ff);
  }
}
.banner .btn:is(:hover, :focus-visible) {
  box-shadow: 0 10px 10px hsla(184, 96%, 49%, 0.3);
}
.card-badge {
  background: linear-gradient(0deg, #00bdff, #0079ff);
  color: aliceblue;
  font-weight: 525;
  border-radius: 3px;

  justify-content: center;
  padding-inline: 2px;
}
.heading {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 2px 0 black;
}
.title {
  font-size: 1rem;
  padding-left: 9px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.title-large {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-left: 3%;
}
.slider-control {
  position: absolute;
  bottom: 20px;
  left: 8%;
  right: 8%;
  border-radius: 16px 0 0 16px;
  user-select: none;
  padding: 4px 0 4px 4px;
  overflow-x: auto;
}
.slider-control::-webkit-scrollbar {
  display: none;
}
.control-inner {
  display: flex;
  gap: 12px;
}
.control-inner::after {
  content: "";
  min-width: 12px;
}
.slider-control .slider-item {
  width: 100px;
  border-radius: 8px;
  flex-shrink: 0;
  filter: brightness(0.4);
}
.slider-control .active {
  filter: brightness(1);
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.75);
}
.poster-box {
  background-image: url("./assets/images/poster-bg-icon.png");
  aspect-ratio: 2/3;
}
.poster-box,
.video-card {
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: hsl(218, 39%, 14%);
  border-radius: 16px;
  overflow: hidden;
}

/**upcoming movie*/
.movie-list {
  background: hsl(218, 39%, 14%);
  border-radius: 20px;
  padding-block-start: 32px;
  margin: 0px 10px 15px 10px;
  padding: 10px;
}
.title-wrapper {
  margin-block-end: 24px;
}
.slider-list {
  margin-inline: -20px;
  overflow-x: overlay;
  padding-block-end: 16px;
  margin-block-end: -16px;
  margin-right: 1%;
  margin-left: 1%;
}
.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.slider-list:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsla(218, 39%, 14%, 0.8);
}
.slider-list::-webkit-scrollbar-button {
  width: 20px;
}
.slider-list .slider-inner {
  position: relative;
  display: flex;
  gap: 16px;
  height: 375px;
  margin-bottom: 20px;
}
.slider-list .slider-inner::before,
.slider-list .slider-inner::after {
  content: "";
  min-width: 4px;
}
.movie-card {
  position: relative;
  min-width: 200px;
}
.movie-card .card-banner {
  width: 200px;
}
.movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 6px 4px;
}
.movie-card .meta-list {padding:0 8px;
  justify-content: space-between;
}
.movie-card .card-btn {
  position: absolute;
  inset: 0;
}
/**detail page*/
.backdrop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.backdrop-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    0deg,
    hsla(250, 13%, 11%, 1),
    hsla(250, 13%, 11%, 0.9)
  );
}
.movie-detail .movie-poster {
  max-width: 300px;
  width: 100%;
}
.movie-detail .heading {
  margin-block: 24px 12px;
}
.movie-detail :is(.meta-list, .genre) {
  color: rgb(249, 249, 252);
}
.movie-detail .genre {
  margin-block: 12px 16px;
}
.detail-list {
  margin-block: 24px 32px;
}
.movie-detail .list-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-block-end: 12px;
}
.movie-detail .list-name {
  color: rgb(160, 155, 155);
  min-width: 112px;
}
.separator {
  width: 4px;
  height: 4px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 8px;
}
.detail-center{
  display:flex;
}
.detail-box{
margin:0 10px;
}
.video-card {
  background-image: url("./assets/images/video-bg-icon.png");
  aspect-ratio: 16/9;
  flex-shrink: 0;
  max-width: 500px;
  width: calc(100%-40px);
}
.load-more {
  background-color: rgb(218, 6, 6);
  margin-inline: auto;
  margin-block: 36px 60px;
}
.load-more:is(:hover, :focus-visible) {
  background-color: rgb(247, 12, 51);
}
.load-more.loading::before {
  display: block;
}

.trailer-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #facc15;
  font-weight:bold;
  color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.85);
}

.modal-content {
  margin: auto;
  background: #000;
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  text-align: center;
  position: relative;
}

.modal-content iframe {
  border-radius: 12px;
  max-width: 100%;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/**movie-list page*/
.genre-list .title-wrapper {
  margin-block-end: 56px;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 16px;
  row-gap: 20px;
}
:is(.genre-list, .search-modal):is(.movie-card, .card-banner) {
  width: 100%;
}
/*search modal in movie-list*/
.search-modal {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px 24px;
  z-index: 4;
  overflow-y: overlay;
  display: none;
}
.search-modal.active {
  display: block;
}
.search-modal .label {
  color: rgb(219, 5, 5);
  font-weight: 700;
  margin-block-end: 8px;
}

/**login page*/
.full-page {
  height: 100%;
  width: 100%;

  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/images/login.jpg);
  background-position: center;
  background-size: cover;
}

.lnavbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
/**#login-form{
    display: none;
}*/
.wrapper {
  width: 97%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto;
  margin-top: 10px;
}
#main {
  margin: 30px auto;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;

  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  margin: auto;
  color: #f80707;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: #333;
  font-weight: 600;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-link p a:hover {
  text-decoration: underline;
}

.add {
  background: linear-gradient(90deg, #00bdff, #0079ff);
  color: white;
  font-weight: 600;
  animation: btnanime 1s linear infinite;
  border-radius: 10px;
  padding: 5px;
}

/*watchlist card*/
.watchtlistraler{
  display: flex;
}
.watchlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  justify-content: center;
}

.watchlist-card {
  background-color: #111;
  color: #fff;
  width: 180px;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.watchlist-card img {
  width: 100%;
  border-radius: 4px;
}

.remove-btn {
  background-color: red;
  border-radius: 50px;
  color: rgb(250, 246, 43);
  padding: 2px;
  cursor: pointer;
}
.watchlist-btn{
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #facc15;
  font-weight:bold;
  color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}




